{% extends "base.html" %}

{% block content %}

<p>Your Urls</p>
<ul>
{% for shorturl in object_list %}
    <li>original - {{ shorturl.original }}</li>
    <li>short - {{ shorturl.short }}</li>
    <li><a href="{% url 'shorturl_detail' shorturl.pk %}">Detail</a></li>
    <li><a href="{% url 'shorturl_update' shorturl.pk %}">Update</a></li>
    <li><a href="{% url 'shorturl_delete' shorturl.pk %}">Delete</a></li>
{% empty %}
    <li>No urls yet.</li>
{% endfor %}
</ul>

<p><a href="{% url 'shorturl_add' %}">Add</a></p>

{% endblock %}
