<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>test</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <ul>
            <li><a href="{% url 'homebid' %}">Home</a></li>
        </ul>

        {% block content %}{% endblock %}
    </body>
</html>
